<html>
<head>
<title>Favorite Color</title>
</head>
<body>
<% if current_user %>
   <a href="<%= url('/logout') %>">Logout</a>
   <div><%= current_user.authorizations.first.user_info.name %></div>
<% else %>
   <a href="<%= url('/auth/twitter') %>">Sign in with Twitter</a>
<% end %>
</body>
</html>
