<form method="post" action="/">
  <div>Server URL:<input type="text" name="server_url" value="" /></div>
  <div>Client ID:<input type="text" name="client_id" value="" /></div>
  <div>Client Secret:<input type="text" name="client_secret" value="" /></div>
  <input type="submit" value="Submit" />
</form>

